/Assignment01/RunMe_v1
/Assignment01/RunMe_v2
/Assignment01/RunMe_v3
/Assignment01/RunMe_v4
/Assignment01/RunMe_v5
/Assignment01/RunMe_v6
/Assignment01/RunMe_v7
/Assignment01/RunMe_v8
/Assignment02/RunMe2_v1
/Assignment03/RunMe3
/Assignment03/RunMe_test
/Assignment04/shortest_path
/Assignment04/shortest_path2
/Assignment04/shortest_path3
/Assignment04/shortestPath.cu
/Assignment04/shortestPath2.cu
/Assignment04/nodeClass.cuh
/Assignment04/kernelAStar.cuh